@font-face {
    font-family: 'market_decoregular';
    src: url('fonts/market_deco-webfont.woff2') format('woff2'),
         url('fonts/market_deco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
}

.index-background{
    background-image: url(images/veganiceCover.jpg);
    background-position: 12% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.bold {
    font-weight: 600;
}

.header {
	background-color: #1C1C1C;
    padding: 0.6em 0.8em;
    position: relative;
	width: 100%;
}

.header img {
    height: 40px;
}

.nav{
    position: relative;
    width: 100%;
}

.nav a {
    background: rgba(255,255,255, 0.8);
    color: #1C1C1C;
    display: block;
    font-size: 14px;
    padding: 2vh 0px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

.nav a:nth-child(odd){
    color: #FFF;
    background: #575757;
    opacity: 0.8;
}

.nav a:hover{
    color: #FFF;
    background: #E1A1A4;
    transition: 0.3s;
}

.main .text{
    position: absolute;
        top: 50%;
    text-align: center;
    width: 100%;
}

.main .text h1 {
    color: #FFF;
    font-family: 'market_decoregular';
    font-size: 3em;
    margin: 0;
}

.main .text p{
    color: #fff;
    font-size: 0.8em;
    font-weight: 200;
    margin: 1em auto 0;
    width: 80%;
}

.main .text p i{
    font-size: 0.7em;
    margin: 0 0.1em;
}

/* SHOPS */

.main-content {
    margin: auto;
    width: 90%;
}

.main-content h1 {
    font-weight: 200;
    margin: 1em 0;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.box {
    border: 1px solid #1C1C1C;
    display: block;
    margin: 0 auto 1.5em;
    width: 90%;
}

.box span {
    background-color: #1C1C1C;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
}

.box-content {
    margin: auto;
    width: 90%;
    padding-bottom: 5px;
}

.box p {
    font-size: 14px;
    line-height: 24px;
}

.box iframe {
    margin-top: 3%;
    height: 100%;
    width: 100%;
}

/* STORY */

.container-story {
    font-size: 0.85em;
    margin: 10px auto;
    text-align: justify;
}

.column p{
    margin-bottom: 1em;
}

.column1 {
    display: inline;
    float: none;
    width: 80%;
}

.column2 {
    display: inline;
    width: 80%;
}

.block-wrapper {
    margin: 2em auto 5em auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.block{
    text-align: center;
    width: 30%;
}

.block i{
    display: inline;
    font-size: 2em;
}

.block img{
    display: inline;
    width: 4em;
}

.block h2{
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 1em;
}

/* FLAVOURS */

.main-content-flavours{
    margin: auto;
    width: 80vw;
}

.container-flavours{
    color: #1C1C1C;
    margin: auto;
    width: 100%;
}

.container-flavours .blurb{
    margin: 1.5em 0 1.5em;
}

.container-flavours p {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    text-align: left;
}

.container-flavours p:last-of-type{
    margin-bottom: 0;
}

.container-flavours p .highlighted{
    color: #FFF;
    background-color: #E1A1A4;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    padding: 0 0.3em;
}

.flavour-img-container{
    color: #1C1C1C;
    display: block;
    height: 80vw;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.flavour-img-container img{
    border-radius: 5px;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.flavour-name-container{
    border-radius: 5px;
    font-family: 'market_decoregular';
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.2em;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

.flavour-name-container .flavour-name{
    background: none;
    position: absolute;
        top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.flavour-name p{
    color: #E1A1A4;
    background-color: #fff;
    display: inline;
    padding: 0.3em;
}

/* FOOTER */

footer {
    clear: both;
    background-color: #575757;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    width: 100%
}

.footer-container {
    margin: auto;
    padding-top: 1%;
    width: 90%;
}

.f-column {
    display: block;
    width: 100%;
}

footer span {
    display: block;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 3px;
}

footer p {
    font-size: 10px;
    margin: 0.4em;
    text-align: left;
}

#f-column-2 span{
    text-align: left;
}

#f-column-2 p {
text-align: left;
}

footer a {
    color: #FFF;
    display: inline-block;
    font-size: 30px;
    padding: 30px 20px;
}

.icons {
    text-align: center;
}

footer i {
    width: 20px;
}

@media only screen and (min-width: 375px){
    .main .text h1 {
        font-size: 4em;
    }

    .main .text p{
        font-size: 0.9em;
    }
    
    .block-wrapper {
        width: 80%;
    }

}

@media only screen and (min-width: 460px){
    
    /* FLAVOURS */
    
    .container-flavours .blurb{
        margin: 1.5em 1em;
    }
    
    .flavours{
        display: flex;
        flex-wrap: wrap;
    }
    
    .flavour-img-container{
        margin: 1em;
        height: calc(40vw - 2em);
        width: calc(40vw - 2em);
    }
    
    .flavour-name-container{
        font-size: 1.1em
    }
    
}

@media only screen and (min-width: 700px){
    
    .nav a{
        display: inline-block;
        font-size: 18px;
        width: 33.333%;
    }
    
    .header{
        padding: 1.2em 1.4em;
    }
    
    .header img {
        height: 60px;
    }
    
    .main .text{
        top: 40%;
    }
    
    .main .text h1{
        font-size: 7em;
    }
    
    .main .text p{
        font-size: 1.3em;
        max-width: 70%;
    }
    
    /* SHOPS */
    
    .box {
        margin: 1em;
        width: calc(50% - 2em);
    }
    
    /* STORY */
    
    .container-story {
        margin: 10px auto;
        text-align: justify;
        width: 80%;
    }
    
    .column1 {
        display: block;
        float: left;
        width: 44%;
        margin: 0 2% 3% 2%;
    }

    .column2 {
        display: inline-block;
        width: 44%;
        margin: 0 2% 3% 2%;
    }
    
    .block-wrapper {
        width: 70%;
    }
    
    /* FLAVOURS */
    
    .container-flavours .blurb{
        font-size: 1.1em;
        margin: 2em 1em;
        width: 80%;
    }
    
    .container-flavours p .highlighted{
        font-size: 1.2em
    }
    
    .flavour-name-container{
        font-size: 1.3em
    }
    
}

@media only screen and (min-width: 1024px){
    
    .main .text h1{
        font-size: 10em;
    }
    
    .nav {
        position: inherit;
    }
    
    /* SHOPS */
    
    .box {
        width: calc(33.3% - 2em);
    }
    
    /* FOOTER */

    .footer-container {
        margin: auto;
        padding-top: 1%;
        width: 90%;
    }


    .f-column {
        vertical-align: middle;
        display: inline-block;
        width: 33%;
    }

    #f-column-2 span{
        text-align: center;
    }

    #f-column-2 p {
        margin-left: 0;
        text-align: center;
    }

    footer p {
        font-size: 14px;
        margin-left: 15px;
    }

    footer i {
        width: 30px;
    }

    footer a {
        font-size: 60px;
    }

    .copyright-text {
        color: #C8C8C8;
        font-size: 10px;
        text-align: right;
    }
    
    
}

@media only screen and (min-width: 1200px){
    
    .nav a{
        font-size: 20px;
        padding: 3vh 0px;
    }
    
    .main .text p{
        max-width: 40%;
    }
    
    /* SHOPS */
    
    .main-content {
        font-family: 'raleway', sans-serif;
    }

    .main-content h1 {
        font-size: 2em;
        margin: 2em 0 1em;
    }

    .container {
        justify-content: center;
        width: 80%;
    }
    
    /* STORY */

    .container-story{
        width: 70%;
    }
    
    .block-wrapper {
        clear: both;
        width: 40%;
    }
    
    /* FLAVOURS */
    
    .main-content-flavours{
        width: 60vw;
    }
    
    .container-flavours .blurb{
        font-size: 1.2em;
        margin: 3em 1em;
        width: 70%;
    }
    
    .flavour-img-container{
        margin: 1em;
        height: calc(20vw - 2em);
        width: calc(20vw - 2em);
    }
    
    .flavour-img-container img{
        opacity: 1;
        transition: 0.3s;
    }
    
    .flavour-name-container{
        font-size: 1.4em
    }
    
    .flavour-name-container .flavour-name{
        opacity: 0;
        transition: 0.3s;
    }
    
    .flavour-img-container:hover img{
        opacity: 0.7;
    }
    
    .flavour-img-container:hover .flavour-name{
        opacity: 1;
    }
    
    
    
}







