/* * {
    box-sizing: border-box;
    margin: 0px;
} */

@font-face {
    font-family: 'market_decoregular';
    src: url('fonts/market_deco-webfont.woff2') format('woff2'),
         url('fonts/market_deco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
	background-color: #1C1C1C;
	width: 100%;
    margin: 0px;
    padding: 0px;
}

header img {
    height: 60px;
	margin: 10px 10px 10px 15px;
}

#nav{
    position: absolute;
    width: 100%;
}

#nav a{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 40px 0px;
    text-align: center;
    text-decoration: none;
    width: 33.333%;
}

#aShops{
    color: #FFF;
    background: #575757;
    opacity: 0.8;
}

#aShops:hover{
    background: #E1A1A4;
    transition: 0.3s;
}

#aFlavours{
    color: #1C1C1C;
    background: #FFF;
    opacity: 0.8;
}

#aFlavours:hover{
    color: #FFF;
    background: #E1A1A4;
    transition: 0.3s;
}

#aStory{
    color: #FFF;
    background: #575757;
    opacity: 0.8;
}

#aStory:hover {
    background: #E1A1A4;
    transition: 0.3s;
}

/*
.cover-img {
    
}
*/

.main-content {
    font-family: 'raleway', sans-serif;
    margin: auto;
    width: 90%;
}

.main-content h1 {
    font-size: 3.5vw;
    font-weight: 200;
    text-align: center;
}

#wellington {
    margin: 4% 8% 4% 8%;
}

#nelson {
    margin: 2% 8% 3% 8%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.box {
    min-width: 30%;
    border: 1px solid #1C1C1C;
    margin: 0 7px 25px 7px;
}

.box span {
    background-color: #1C1C1C;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
}

.box-content {
    margin: auto;
    width: 90%;
    padding-bottom: 5px;
}

.box iframe {
    margin-top: 3%;
    height: 100%;
    width: 100%;
}

.box p {
    font-size: 14px;
    line-height: 8px;
}

            /*---!Story!---*/
.block-wrapper {
    margin: 2% auto 8% auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 70%;
}

.block{
    text-align: center;
    width: 30%;
}

.block i{
    display: inline;
    font-size: 5vw;
}

.block img{
    display: inline;
    width: 6vw;
}

#imgh2 {
    
}

.block h2{
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.container-story {
    margin: 10px auto;
    text-align: justify;
    height: 100%;
    width: 70%;
}
.column1 {
    display: block;
    float: left;
    width: 44%;
    margin: 0 2% 3% 2%;
}

.column2 {
    display: inline-block;
    width: 44%;
    margin: 0 2% 3% 2%;
}

footer {
    clear: both;
    background-color: #575757;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    width: 100%
}

.footer-container {
    margin: auto;
    padding-top: 1%;
    width: 90%;
}


.f-column {
    vertical-align: middle;
    display: inline-block;
    /*margin: 1.5% 7% 0 7%;*/
    width: 33%;
}

footer span {
    display: block;
    padding-bottom: 3px;
}

#f-column-2 span{
    text-align: center;
}

#f-column-2 p {
    margin-left: 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin-left: 15px;
}

i {
    width: 30px;
}

footer a {
    color: #FFF;
    display: inline-block;
    font-size: 60px;
    padding: 30px 20px;
}

.icons {
    text-align: center;
}

.copyright-text {
    color: #C8C8C8;
    font-size: 10px;
    text-align: right;
}

@media only screen and (max-width: 1275px){
    #nav {
        position: inherit;
    }
    
    .box {
        display: block;
        margin: 10px auto;
    }
    
    footer p {
        font-size: 70%;
    }
    
    i {
        width: 20px;
    }
    
}

@media only screen and (max-width: 1030px){
    
    .block-wrapper{
        width: 80%;
        font-size: .7em;
    }
    
    .container-story {
        margin: 0 auto;
        text-align: justify;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 700px){
    
    #nav a {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 10px 0px;
    }
    
    header img {
    height: 40px;
    }
    
    .main-content h1 {
        font-size: 20px;
        padding-top: 5%;
    }

    .box {
        display: block;
        width: 90%;
        margin-top: 10%
    }
    
    .box iframe {
        width: 100%
    }
    
    .container{
        width: 100%;
    }
    
    .block-wrapper {
        display: none;
    }
    
    .container-story {
        font-size: .85em;
    }
    
    .column1 {
    display: inline;
    float: none;
    width: 80%;
    margin: 0 2% 0 2%;
    }
    
    .column1 p{
        margin-bottom: 0;
    }

    .column2 {
        display: inline;
        width: 80%;
        margin: 0 2% 5% 2%;
    }
    
    .column2 p{
        margin-top: 0;
    }
    
    .f-column {
        display: block;
        width: 100%;
    }
    
    footer span {
    padding-top: 5px;
    font-size: 14px;
    }

    #f-column-2 span{
    text-align: left;
    }
    
    footer p {
        font-size: 10px;
        margin-left: 0px;
        text-align: left;
    }
    
    #f-column-2 p {
    text-align: left;
    }
    
    i {
        width: 20px;
    }
    
    footer a {
        font-size: 30px;
    }
    
}








